@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Light.ttf);
}
$font1: Allura, cursive; 
$font2: poppins, cursive;
$font3: roboto, cursive;
$white: #EEEEEE;
$black: #21201e;
$grey: rgb(182, 182, 182);
$color1: rgb(166, 114, 69);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  body {
    text-align: center;
    font-family: $font3;
    
  
  }

  
  