.section2 {
    background:rgb(49, 49, 49);
    position: relative;
    bottom: 60px;
    &:after {
        content: "";
        position: absolute;
        height: 820px;
        width: 100%;
        background: url(../img/bg-menu-01.jpg) center/cover;
        left: 50%;
        bottom: -380px;
        transform: translate(-50%, -50%);
      }
    h4 {
        font-family: $font1;
        font-size: 2rem;
        color: $color1;
        font-weight: 100;
        padding: 30px;
    }
        img {
            margin: 30px;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            margin: 30px auto;
            min-width: 500px;
            color: white;
            
            li {
                text-decoration: underline;
                text-decoration-color: rgb(175, 174, 174); /* Couleur de la ligne */
                text-decoration-thickness: 1px; /* Épaisseur de la ligne */
                text-underline-offset: 5px; 
            }
            
            
           
            
        }
        .meals {
            background: #eee;
    color: #21201e;
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    border-top: 4px solid #a67245;
    padding: 15px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    z-index: 1000;
    position: relative;

            .meal {
                display:grid;
                grid-template-columns: 25% 60% 15%;
                align-items: center;
             padding: 30px 0; 
                margin: 0 20px;
                border-bottom: 1px dashed grey;
                img {
                    border-radius: 50%;
                    object-fit: cover;
    width: 100%;
align-self: center;
                }
                h3 {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    text-align: left;
                }
               > p{
                    font-family: $font2;
                    color: $color1;
                    font-size: 1.5rem;
                    text-align: right;
                color: #a67245;
                font-weight: 600;
                
                }

            }

           

            
        }

        
        

    
}